body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ea7d7d;
}

.student-card {
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

